@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap');

body {
 font-family: 'Work Sans', sans-serif;
 font-size: 18px;
}
.navbar-brand {
    color: rgb(166, 119, 44) !important;
    font-size: 24px;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: rgb(166, 119, 44) !important;
}

.icons a {
    padding-left: 10px;
    color: rgb(166, 119, 44);
}

